---
import Content from "../components/Content";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thread builder">
  <h1 class="uppercase text-xl font-bold">thread builder</h1>
  <Content client:visible />
</Layout>
