---
import Content from "../components/Content";
import Layout from "../layouts/Layout.astro";
---

<Layout title="tweet splitter">
  <h1 class="">tweet splitter</h1>

  <Content client:visible />
</Layout>
